.row
  .col-5
    h5= __('total_without_tva')
      | :
  .col-7
    h5.text-primary= util.formatNumber(Cart.total - Cart.total/config.TVA, culture.language, 1)
      |  
      = __('lei')
.row
  .col-5
    h5= __('tva')
      | :
  .col-7
    h5.text-primary= util.formatNumber(Cart.total/config.TVA, culture.language, 1)
      |  
      = __('lei')
hr
.row
  .col-5
    h3= __('total')
      | :
  .col-7
    h3.text-primary= util.formatNumber(Cart.total, culture.language)
      |  
      = __('lei')