if (product.variants)
  h5= __('product_variants')
    | :
  br
  - var anyChecked=false
  each item, i in product.variants
    - var check = !anyChecked && item.isInStock;
    - anyChecked = anyChecked || check
    .row
      .col-5
        +productVariantProperties(item)
      .col-2
        input.sp-var_check.js-sp-param(type='radio', name='variantId', value=item.id, id=item.id, checked=check, disabled=!item.isInStock)
      .col-5
        if (item.isInStock)
          label(for=item.id).sp-var_inStock= __('in_stock')
        else
          label(for=item.id).sp-var_notInStock= __('not_in_stock')

.c-alert.js-sp-alert.d-none
br
.row.sp-count
  .col-6
    label(for='sp-count_input').sp-count_label= __('quantity')
      | : 
    .sp-count_ctrl
      input#sp-count_input.form-control.form-control-lg.js-sp-param(type='number', value=1, min=1, max=100, name='quantity')
  .col-6
    include ./product-price
br
.row
  .col-5
    input.js-sp-param(type='hidden', value=product.id, name='productId')
    button(type='button').btn.btn-warning.btn-lg.sp-count_add-btn.js-sp-add= __('add_to_cart')
  .col-7.text-right
    a.btn.btn-warning.btn-lg.sp-count_purchase-btn.d-none.js-sp-purchase(href=links.checkout())= __('finish_purchase')