doctype html
html(lang=culture.language)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title= site.head.title
    if (site.head.description)
      meta(name='description', content=site.head.description)
    if (site.head.keywords)
      meta(name='keywords', content=site.head.keywords)
    link(rel='icon', type='image/png', href='/static/img/favicon.png', sizes='42x42')
    block styles
    if (site.head.canonical)
      link(rel='canonical', href=site.head.canonical)
      meta(property='og:url', content=site.head.canonical)
    if (config.twitterId)
      meta(property='twitter:site', content=config.twitterId)

    if (config.facebookId)
      meta(property='fb:app_id', content=config.facebookId)

    if (config.facebookPublisher)
      link(rel='publisher', href='https://www.facebook.com/'+ config.facebookPublisher)
    meta(property='og:site_name', content=config.name)
    //- meta(property='og:updated_time', content=currentDate.toDate().toISOString())
    //- meta(property='og:locale', content=culture.locale)
    block head
    if (NODE_ENV === 'production')
      link(rel="stylesheet", media="all", href="/static/css/" + assets.getName('main.css'))
    else
      link(rel="stylesheet", media="all", href="/static/css/main.css")

    link(rel='dns-prefetch', href='"//images.ctfassets.net')

    if (_events && _events.length)
      script
        each a in _events
          = "gtag('event', '"+a.action+"', {'event_category':'"+a.category+"', 'event_label':'"+a.label+"'})"

  body
    include ../mixins/articles
    include ../mixins/products
    include ../mixins/pager
    include ../mixins/categories
    
    #fb-root
    include ../includes/page-top-info
    #page-header
      block page_header
    #page-main
      .container
        include ../includes/page-menu
        #page-content
          block page_main
    #page-footer
      .container
        include ../includes/footer

    //- script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", crossorigin="anonymous", async)
    if (NODE_ENV==='production')
      script(type='text/javascript', async, src="/static/js/" + assets.getName('main.js'))
    else
      script(type='text/javascript', async, src="/static/js/main.js")
    block scripts
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '#{config.googleAnalyticsId}', '#{config.domain}');
      ga('send', 'pageview');

    //- if (config.facebookId)
    //-   script.
    //-     (function(d, s, id) {
    //-       var js, fjs = d.getElementsByTagName(s)[0];
    //-       if (d.getElementById(id)) return;
    //-       js = d.createElement(s); js.id = id;
    //-       js.src = 'https://connect.facebook.net/#{culture.locale}/sdk.js#xfbml=1&version=v2.11&appId=#{config.facebookId}';
    //-       fjs.parentNode.insertBefore(js, fjs);
    //-     }(document, 'script', 'facebook-jssdk'));
