extends ./layouts/layout

block metas
  meta(property='og:type', content='article')
  meta(property='og:title', content=article.title)
  meta(property='og:description', content=article.summary)
  meta(property='og:image', content=config.schema+article.image.url)
  meta(name='twitter:card', content='symmary')

block main_content
  .row
    .col-md-9
      .article-block
        .row
          .col-lg-1
          .col-lg-10
            article.article
              header
                //- .float-right.article_details
                //-   i.i-eye
                //-   = article.countViews.toLocaleString(culture.language)
                .article_cat
                  if (article.category)
                    if(article.category.parent)
                      a(href=links.category(article.category.parent.slug), title=article.category.parent.name)= article.category.parent.name
                      | &rsaquo;
                    a(href=links.category(article.category.slug), title=article.category.name)= article.category.name
                h1.article_title= article.title
                .article_top_share
                  .row
                    .col.col-xs-6
                      a(href='#').c-share.c-share_us
                        span.d-lg-none= __('subscribe')
                        span.d-none.d-lg-inline= __('subscribe_us')
                    .col.col-xs-6
                      a(href='#').c-share.c-share_fb
                        span.d-lg-none Facebook
                        span.d-none.d-lg-inline= __('share_on_facebook')
                    .col.d-none.d-sm-block
                      a(href='#').c-share.c-share_twitter
                        span.d-lg-none Twitter
                        span.d-none.d-lg-inline= __('share_on_twitter')
                  .article_subscribe.d-none
                    p!= __('subscribe_us_info')
                    .text-center
                      .fb-like(data-href='https://www.facebook.com/'+ config.facebookPublisher, data-layout="button_count", data-size="small", data-show-faces="false", data-action="like", data-share="false")
              .article_body(role='main')!= util.renderArticle(article.text)
              footer.article_footer
                .article_details
                  time.float-right(datetime=article.createdAt)= util.moment(article.createdAt).locale(culture.language).format('lll')
                  .fb-share-button(data-href=site.head.canonical, data-layout="box_count", data-size="small", data-mobile-iframe="true")
                    //- a.fb-xfbml-parse-ignore(target="_blank" href="https://www.facebook.com/sharer/sharer.php?u="+encodeURIComponent(site.head.canonical)+"&amp;src=sdkpreparse")
          .col-lg-1
      //- include ./includes/article-bottom-ads
    .col-md-3
      if (latestArticles)
        .c-group
          h4.c-group_title= __('latest_articles')
          .c-group_content
            +articleListBlock(latestArticles, {itemClass:'col-xs-12'})


  //- +articleListBlock(articles)