extends ./layouts/root

block styles
  if (NODE_ENV === 'production')
    link(rel="stylesheet", media="all", href="/static/css/" + assets.getName('error-page.css'))
  else
    link(rel="stylesheet", media="all", href="/static/css/error-page.css")

block page_header
  .container
    include ./includes/page-header

block page_main
  section#page-content
    #error-box
      h1= data.title
        |:  
        span= data.statusCode
      h4= data.description
      p
        strong
          a(title=config.name, href=links.home())= __('home')
