extends ./layouts/layout

block slider_content
  - slider = settings.desktopHomepageSlider
  if (slider)
    .d-none.d-md-block
      +imageSlider(slider)


block main_content
  if (promotedShopCategories && promotedShopCategories.items.length)
    each promotedCategory in promotedShopCategories.items
      if (promotedCategory.topProducts.items.length)
        .c-group
          .c-group_title
            if (promotedCategory.topProducts.items.length < promotedCategory.topProducts.total)
              .c-group_title_more
                a(href=links.catalog.category(promotedCategory.slug))= __('view_all')
            h4
              a(href=links.catalog.category(promotedCategory.slug), title=promotedCategory.title)= promotedCategory.title
          .c-group_content
            +productListBlock(promotedCategory.topProducts.items, {itemClass: 'col-6 col-md-3'})

  .c-group
    .c-group_title
      if (shopProducts.items.length < shopProducts.total)
        .c-group_title_more
          a(href=links.catalog())= __('view_all')
      h4
        a(href=links.catalog())= __('catalog')
    .c-group_content
      +productListBlock(shopProducts.items, {itemClass: 'col-6 col-md-3'})