extends ./layouts/layout

block main_content
  if (NODE_ENV === 'production')
    link(rel="stylesheet", media="all", href="/static/css/" + assets.getName('item.css'))
  else
    link(rel="stylesheet", media="all", href="/static/css/item.css")
  h1.sp-title= product.title || product.name
  if (product.categories)
    each item in product.categories
      a.sp-cat(href=links.shop.category(item.slug, {ref: 'product'}), title=item.name)= item.name || item.title
  .u-br
  .row
    .col-md-5
      - var lightboxId = 'sp-media-'+product.id;
      .sp-media
        .sp-media_main-image
          img.sp-media_main-pic(src=product.images[0].url, alt=product.images[0].title)
        .sp-media_images
          each item, i in product.images
            .sp-media_image(class=i===0?'selected':null, data-url=item.url)
              img.lazy.sp-media_pic(data-src=item.url+'?h=50', alt=("image "+i))

    .col-md-7.js-sp-form
      if (!product.isInStock)
        .c-alert= __('product_not_in_stock')
      else
        include ./includes/product-form

      if (product.properties && product.properties.length)
        br
        br
        .c-group
          .c-group_title
            h4= __('properties')
          .c-group_content
            each item in product.properties
              .sp-prop.row
                .col-9
                  span.sp-prop_name= item.name
                    | :
                  span.sp-prop_value= item.value
                .col-3
                  if (item.icon)
                    img.sp-prop_icon(src=item.icon.url+'?w=32&h=32', alt=item.icon.title)


  br
  if (product.description)
    .c-group
      .c-group_title
        h3= __('product_description')
      .c-group_content.sp-description!= util.renderArticle(product.description)

  br
  include ./includes/promoted-categories-products
