
mixin articleListBlock(articles)
  .c-alb
    each item in articles
      .media.c-alb_i
        .c-alb_img.mr-3
          img.c-alb_pic(src=item.image.url+'?w=200&h=200', alt=item.title)
        .media-body
          h3.c-alb_title
            a(href=links.article(item.slug))= item.title
          p.c-alb_summary= item.summary
          .c-alb_stats
            time= util.moment(item.createdAt).locale(culture.language).format('ll')

mixin articleListMedia(articles)
  .c-alm
    each item in articles
      a.media.c-alm_i(href=links.article(item.slug))
        .c-alm_img.mr-3
          img.c-alm_pic(src=item.image.url+'?w=50&h=50&fit=fill', alt=item.title)
        .media-body
          h6.c-alm_title= item.title
          .c-alm_stats
            time= util.moment(item.createdAt).locale(culture.language).format('ll')
          //- i.i-eye
          //- = item.countViews.toLocaleString(culture.language)
