
mixin articleListBrick(articles)
  .c-albr.row
    each item in articles
      .col-12.col-sm-6.col-md-4
        .c-albr_i
          a.c-albr_img(href=links.article(item.slug), title=item.title)
            img.lazy.c-albr_pic(data-src=item.image.url+'?w=200&h=200', alt=item.title)
          .c-albr_body
            h4.c-albr_title
              a(href=links.article(item.slug), title=item.title)= item.title
            //- p.c-albr_summary= item.summary
            .c-albr_stats
              time= util.moment(item.createdAt).locale(culture.language).format('ll')

mixin articleListBlock(articles)
  .c-alb
    each item in articles
      .media.c-alb_i
        .c-alb_img.mr-3
          img.lazy.c-alb_pic(data-src=item.image.url+'?w=200&h=200', alt=item.title)
        .media-body
          h3.c-alb_title
            a(href=links.article(item.slug), title=item.title)= item.title
          p.c-alb_summary= item.summary
          .c-alb_stats
            time= util.moment(item.createdAt).locale(culture.language).format('ll')

mixin articleListMedia(articles)
  .c-alm
    each item in articles
      a.media.c-alm_i(href=links.article(item.slug), title=item.title)
        .c-alm_img.mr-3
          img.lazy.c-alm_pic(data-src=item.image.url+'?w=50&h=50&fit=fill', alt=item.title)
        .media-body
          h6.c-alm_title= item.title
          .c-alm_stats
            time= util.moment(item.createdAt).locale(culture.language).format('ll')
          //- i.i-eye
          //- = item.countViews.toLocaleString(culture.language)
