mixin narbutasPagesListBlock(items, options)
  - options = options || { }
  - itemClass = options.itemClass || 'col-6 col-md-3'
  ul.row.c-cat-bl
    each item, index in items
      li.c-cat-bl_item(class=itemClass)
        a.c-cat-bl_i(href=links.narbutas.page(item.id))
          .c-cat-bl_img
            if (item.image)
              img.c-cat-bl_pic(src=item.image.largeUrl, alt=item.title)
          h6.c-cat-bl_title= item.name