mixin narbutasPagesListBlock(items, options)
  - options = options || { }
  - itemClass = options.itemClass || 'col-6 col-md-3'
  ul.row.c-cat-bl
    each item, index in items
      li.c-cat-bl_item(class=itemClass)
        a.c-cat-bl_i(href=links.narbutas.page(item.id), title=item.name)
          .c-cat-bl_img
            if (item.image)
              img.lazy.c-cat-bl_pic(data-src=item.image.mediumUrl, alt=(item.name || item.title))
          h6.c-cat-bl_title= item.name