mixin imageGallery(items)
  - items = items || []
  if (items.length)
    .c-gallery
      .c-gallery-main
        a.c-gallery-main-item(href=items[0].href, title=items[0].title, target='_blank', rel='nofollow', style=`background-image: url('${items[0].href}')`)
      .c-gallery-list
        each item, index in items
          a.c-gallery-item(class=(index===0?'active':null), href=item.href, title=item.title, target='_blank', rel='nofollow')
            img(src=(item.thumbnail || item.href), alt=item.title)