
mixin imageSlider(slider, options)
  - options = options || {platform: 'mobile'}
  #topPageSlider.c-image-slider.carousel.slide(data-ride="carousel")
    ol.carousel-indicators
      each item, i in slider.items
        li(data-target='#topPageSlider', data-slide-to=i, class=i===0?'active':null)
    .carousel-inner.c-image-slider_inner
      each item, i in slider.items
        .carousel-item.c-image-slider_item(class=i==0?'active':null)
          if (item.link)
            a(href=item.link)
              img.d-block.w-100(src=item.image.url, alt='')
          else
            img.d-block.w-100(src=item.image.url, alt='')
          if (item.title)
            .carousel-caption.c-image-slider_caption
              h5= item.title
    //- a.carousel-control-prev(href='#topPageSlider', role='button', data-slide='prev')
    //-   span.carousel-control-prev-icon(aria-hidden='true')
    a.carousel-control-next(href='#topPageSlider', role='button', data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
