
mixin productListBlock(items, options)
  - options = options || { }
  - itemClass = options.itemClass || 'col-3'
  ul.row.c-prod-bl
    each item, index in items
      li.c-prod-bl_item(class=itemClass)
        a.c-prod-bl_i(href=links.catalog.item(item.slug))
          .c-prod-bl_img
            img.c-prod-bl_pic(src=item.images[0].url+'?h=200', alt=item.title)
          .c-prod-bl_priceline
            if (item.oldPrice)
              del.c-prod-bl_oldPrice= util.formatNumber(item.oldPrice, culture.language,  2)
            span.c-prod-bl_price= util.formatNumber(item.price, culture.language, 2)
              |  
              = __('lei')
          h6.c-prod-bl_title= item.title

mixin productVariantProperties(variant)
  - var title = variant.title || variant.properties.map(item=>item.value).join('/')
  label(for=variant.id).sp-var_title
    each item in variant.properties
      if (item.identifier || item.icon)
        i.sp-var_icon(style=item.identifier?'background-color: #'+item.identifier:null)
          if(item.icon)
            img(alt=item.icon.title, src=item.icon.url+'?w=32&h=32')

    = title